# hub config includes oauth token
.config/hub

# update-notifier-npm.json is not a config file
.config/configstore/update-notifier-npm.json

# no need to manage
.config/gcloud
.config/karabiner/automatic_backups
.config/mise
.emacs.d/.cache
.emacs.d/.dap-breakpoints
.emacs.d/.lsp-session-v1
.emacs.d/custom.el
.emacs.d/elpa
.emacs.d/history
.emacs.d/network-security.data
.emacs.d/recentf
.emacs.d/snippets
.emacs.d/transient/history.el
.emacs.d/tree-sitter
.emacs.d/url/cookies

# Created by https://www.gitignore.io/api/macos,elisp

### Elisp ###
# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.gitignore.io/api/macos,elisp
