format = """\
    ${custom.preprompt}\
    $kubernetes\
    $helm\

    $line_break\
    ${custom.preprompt}\
    $directory\
    $git_branch\
    $git_commit\
    $git_state\
    $git_status\
    $golang\
    $java\
    $kotlin\
    $gradle\
    $nodejs\
    $python\
    $terraform\
    $cmd_duration\

    $line_break\
    $jobs\
    $character\
"""

command_timeout = 1000

[character]
success_symbol = "[❯](bold green)"
error_symbol = "[❯](bold red)"

[custom.preprompt]
command = "echo -n ❯❯"
when = ":"

[directory]
truncation_length = -1
truncate_to_repo = false
style = "bold fg:blue"

[git_branch]
symbol = " "

[golang]
symbol = "󰟓 "
format = "[$symbol($version )]($style)"

[gradle]
symbol = " "
format = "[$symbol($version )]($style)"

[helm]
format = "[$symbol($version )]($style)"
style = "dimmed white"

[java]
symbol = " "
format = "[$symbol($version )]($style)"

[kotlin]
symbol = " "
format = "[$symbol($version )]($style)"

[kubernetes]
disabled = false
format = "[$symbol($cluster )(\\(ns: $namespace\\) )]($style)"
style = "dimmed green"

[[kubernetes.contexts]]
# use cautious color for production environment
context_pattern = ".+prod.*"
style = "red"

[nodejs]
symbol = " "
format = "[$symbol($version )]($style)"

[python]
symbol = " "
format = "[${symbol}${pyenv_prefix}(${version} )(\\($virtualenv\\) )]($style)"
