format = """\
    ${custom.preprompt}\
    $directory\
    $git_branch\
    $git_commit\
    $git_state\
    $git_status\
    $dotnet\
    $elixir\
    $elm\
    $erlang\
    $golang\
    $haskell\
    $java\
    $julia\
    $nim\
    $nodejs\
    $ocaml\
    $php\
    $purescript\
    $python\
    $ruby\
    $rust\
    $terraform\
    $zig\
    $nix_shell\
    $conda\
    $aws\
    $crystal\
    $cmd_duration\

    $line_break\
    $jobs\
    $username\
    $hostname\
    $character\
"""

command_timeout = 1000


[aws]
symbol = " "

[battery]
full_symbol = ""
charging_symbol = ""
discharging_symbol = ""

[character]
success_symbol = "[❯](bold green)"
error_symbol = "[❯](bold red)"

[conda]
symbol = " "

[custom.preprompt]
command = "echo -n ❯❯"
when = ":"

[directory]
truncation_length = -1
truncate_to_repo = false
style = "bold fg:blue"

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[git_branch]
symbol = " "

[golang]
symbol = " "

[hg_branch]
symbol = " "

[hostname]
format = "@"

[java]
symbol = " "

[julia]
symbol = " "

[memory_usage]
symbol = " "

[nim]
symbol = " "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[package]
symbol = " "

[php]
symbol = " "

[python]
symbol = " "

[ruby]
symbol = " "

[rust]
symbol = " "

[username]
style_user = "bold fg:240"
